/* Core Styles */

body {
  margin: 0;
  font-family: Oswald, sans-serif;
  background: #ffffff;
  color: #fff;
  font-size: 1.1em;
  line-height: 1.5;
}


img {
  display: block;
  width: 100%;
  height: auto;
}

h1, h2, h3 {
  margin: 0;
  padding: 1em 0;
}

p {
  margin: 0;
  padding: 1em 0;
}

h2.sub-title {
  position: relative;
  display: block;
  margin: 10px auto;
  text-align: center;
  font-size: 35px;
  line-height: 40px;
}

h2.sub-title::after {
  display: block;
  height: 2px;
  width: 100px;
  margin: 30px auto 0 auto;
}




/* Navigation */

.nav {
  color: #000000;
  list-style: none;
  text-align: right;
  padding: 20px 0 20px 0;
}

.nav > li {
  display: inline-block;
  padding: 0 25px 0 25px;
  font-size: 16px;
}

.nav > li > a {
  text-decoration: none;
  color: #000000;
}

.nav > li > a:hover {
  color: #c1c1c1;
}

.logo {
  float: left;
  padding-left: 25px;
  width: 200px; 
  height: 120px;
}

.banner {
  width: 100%;
  display: block;
}

.banner > .banner-image {
  width: 100%;
  height: 450px;
  display: block;
}


/* Section A */

#section-a {
  background: #b30000;
  color: #fff;
  padding: 2em;
}



/* Section B */

#section-b {
  padding: 2em 1em 1em;
}

#section-b ul {
  list-style: none;
  margin: 0;
  padding: 0;
}


#section-b li {
  margin-bottom: 1em;
  background: #fff;
  color: #333;
}

.card-content {
  padding: 1.5em;
}



/* Section C */

#section-c {
  background: #eaeaea;
  color: #333;
  padding: 2em;
}


/* Section D */

#section-d .box {
  padding: 2em;
  color: #fff;
}

#section-d .box:first-child {
  background: #00578a;
}





/* Contact Form */

*{
  box-sizing: border-box;
}

.container{
  max-width:1170px;
  margin-left:auto;
  margin-right:auto;
  padding:1em;
}

ul{
  list-style: none;
  padding:0;
}

.brand{
  text-align: center;
}

.brand span{
  color:#fff;
}

.wrapper{
  box-shadow: 0 0 20px 0 rgba(72,94,116,0.7);
}

.wrapper > *{
  padding: 1em;
}

.company-info{
  background:#00578a;
}

.company-info h3, .company-info ul{
  text-align: center;
  margin:0 0 1rem 0;
}

.contact{
  background:#ffffff;
  color: #000000;
}

.intro {
  color: #000;
}

/* FORM STYLES */
.contact form{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap:20px;
}

.contact form label{
  display:block;
}

.contact form p{
  margin:0;
}

.contact form .full{
  grid-column: 1 / 3;
}

.contact form button, .contact form input, .contact form textarea{
  width:100%;
  padding:1em;
  border:1px solid #00578a;
}

.contact form button{
  background:#00578a;
  border:0;
  text-transform: uppercase;
}

.contact form button:hover,.contact form button:focus{
  background:#00578a;
  color:#fff;
  outline:0;
  transition: background-color 2s ease-out;
}



/* Footer */

#main-footer {
  padding: 2em;
  background: #000;
  color: #fff;
  text-align: center;
}

#main-footer a {
  color: #00578a;
  text-decoration: none;
}


/* Media Queries */

@media(min-width: 700px) {


  #section-a .content-text p {
    padding-top: 0;
  }

 
  #section-b ul {
    grid-column: 2/4;
  }

  .box, #main-footer div {
    grid-column: span 2;
  }

  #section-b ul {
    display: flex;
    justify-content: space-around;
  }

  #section-b li {
    width: 31%;
  }
}





